body {
    margin-left: 30px;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    margin-top: 10px;
    
   
} 
.logo {
    width: 40px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 33px;
    margin-right: 30px;
    

}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 36px;
    margin-right: 950px;
    gap: 30px;
    
    color: #3D58A6;
    
    opacity: 100%;
}
.nav_li {
    display: inline-block;
    margin-left: 20px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 22px;
    
}
   
     

a {
    text-decoration: none;
}
/* header დასრულდა */
.number {
    width: 46px;
    height: 55px;
    background-color: blue;
    margin-top: 70px;
    margin-bottom: 10px;
    
}
.number p {
    font-size: 48px;
    color: white;
    padding: auto;
    
}
.mai {
    font-size: 22px;
    color: #3D58A6;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
h2 {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #000000;
    opacity: 100%;
}
.section_1 {
    display: flex;
    justify-content: space-between;
}
.section_1 div image {
    margin-top:  251px;
    left: 30px;
    width: 270px;
    height: 210px;
}
.section_1 div p {
    /* top: 254px; */
    left: 339px;
    width: 929px;
    height: 360px;
    margin-right: 170px;
    font-family: "BPG Ingiri Arial", sans-serif;
}
/* აქ დამთავრდა 1 სექცია */

.section_2 {
    display: flex;
    justify-content: space-between;
}
.section_2 div image {
    margin-top:  251px;
    left: 30px;
    width: 1500px;
    height: 100px;
}
.section_2 div p {
    /* top: 254px; */
    left: 339px;
    width: 929px;
    height: 360px;
    margin-right: 170px;
    font-family: "BPG Ingiri Arial", sans-serif;

}  
.icons {
    width: 150px;
    margin-top: 20px;
    margin-left: 35px;
}
.line {
    width: 2px;
    height: 20px;
    background-color:#3D58A6;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.fa-brands {
    color: #3D58A6;
    font-size: 24px;
}

/* news */
.div_banner {
    position: relative;
    width: 1170px;
    height: 460px;
    margin-left: 98px;
    margin-top: 138px;
}
/* .banner {
    margin-left: 98px;
    margin-top: 138px;
    width: 1170px;
    height: 460px;
    
} */
.div_text {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 398px;
    height: 178px;
    font-size: 30px;
    color: #E6E6E6;
}
.div_news1 {
    width: 550px;
    height: 225px;
    background-color: #F2F2F2;
    margin-top: 30px;
    margin-left: 98px;
    display: flex;
   
    position: relative;
}
.no_bg {
    width: 100px;
    height: 117px;
    
    position: absolute;
    top: 66px;
    left: 30px;
}
h3 {
    margin-top: 50px;
    margin-left: 98px;
}
h4 {
    /* margin-bottom: 10px; */
    position: absolute;
    top: 15px;
    left: 21px;
}

.div_text1 {
    position: absolute;
    top: 20px;
    left: 270px;
    right: 20px;
    font-family: "Comfortaa", serif;
    font-size: 20px;

}
 .news_section {
    display: flex;
    gap: 0.9px;
 
 }  

 /* contact */
 .div_contact {
    width: 1366px;
    height: 570px;
    background-color: #E6E6E6;
    display: flex;
    padding-top: 49px;
    padding-left: 100px;
    margin: 30px;
 }
 .div_map {
    margin-left: 200px;
 }
 span {
    font-family: "BPG Ingiri Arial", sans-serif;
    font-size: 16px;
 }
