body {
    margin-left: 30px;
}
header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px 20px;
    margin-top: 10px;
    
   
} 
.logo {
    width: 40px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 33px;
    margin-right: 30px;
    

}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 36px;
    margin-right: 950px;
    gap: 30px;
    font-size: 22px;
    color: #3D58A6;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    opacity: 100%;
   
     
}

a {
    text-decoration: none;
}
/* header დასრულდა */
.number {
    width: 46px;
    height: 55px;
    background-color: blue;
    margin-top: 70px;
    margin-bottom: 10px;
    
}
.number p {
    font-size: 48px;
    color: white;
    padding: auto;
    
}
.mai {
    font-size: 22px;
    color: #3D58A6;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
h2 {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #000000;
    opacity: 100%;
}
.section_1 {
    display: flex;
    justify-content: space-between;
}
.section_1 div image {
    margin-top:  251px;
    left: 30px;
    width: 270px;
    height: 210px;
}
.section_1 div p {
    /* top: 254px; */
    left: 339px;
    width: 929px;
    height: 360px;
    margin-right: 170px;
    font-family: "BPG Ingiri Arial", sans-serif;
}
/* აქ დამთავრდა 1 სექცია */

.section_2 {
    display: flex;
    justify-content: space-between;
}
.section_2 div image {
    margin-top:  251px;
    left: 30px;
    width: 1500px;
    height: 100px;
}
.section_2 div p {
    /* top: 254px; */
    left: 339px;
    width: 929px;
    height: 360px;
    margin-right: 170px;
    font-family: "BPG Ingiri Arial", sans-serif;

}  
.icons {
    width: 150px;
    margin-top: 20px;
    margin-left: 35px;
}
.line {
    width: 2px;
    height: 20px;
    background-color:#3D58A6;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
}
.fa-brands {
    color: #3D58A6;
    font-size: 24px;
}
